* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .page-main {
    flex-grow: 1;
  }

.navbar {
    background: rgba(36,36,36,.96);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;   
}

#navbar__title {
    background-color: #f77062;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 15px;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;    
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: white;
}

.button:hover {
    background: #38dce7;
    color: black;
    transition: all 0.5s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.5s ease;
}

.normal_body {
    background-color: #1B1B1B;
    background-size: 100%;
}

.container__header {
    margin: 50px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}

.container__main {
    color: white;
    font-weight: 100;
    font-size: 1.8rem;
    max-width: 100%;
    max-height: 100%;
}

.block {
    position: relative;
    background-color: var(--background);
    color: var(--orange);
    padding: 3vh;
    font-size: 3rem;
    margin-left: 90px;
}

.block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rgba(36,36,36,.96);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

.container__pop-up {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}

.container__pop-up-img {
    max-width: 60vh;
    max-height: 60vh;
    display: inline;
}

.projectlist {
    padding-top: 20px;
    padding-bottom: 20px;
}
.projectlist_p {
    padding-top: 20px;
}

.projectul{
    padding-left: 2em;
}

.load_button{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 16px;
    width: 30%;
    text-align: center;
    border: none;
    outline: none;
    transition: 1s;
    margin-top: 30px;
}

.headline {
    color: white;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
}

.p{
    color: white;
    margin-bottom: 15px;
}

.panel_text{
    font-weight: 600;
    font-size: 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background-color: rgba(36,36,36,.96);
    color: white;
    text-align: center;
  }

  .a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }